<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="styles.css">
  <meta charset="utf-8">
  <title>Runners</title>
</head>

<body>
  <header>
    <h1>Runners in Race</h1>
  </header>
  <div class="navigation">
    <a href="/addRunner">Add Runner</a>
  </div>
  <div class="container">
    {{#runners}}
      <div class="runner-card">
        <h2>Division: {{division}} </h2>
        <h2>Sponsor: {{sponsor}}</h2>
        <a href='{{bib_id}}'>
          <h2>Runners: {{name}}</h2></a>
      </div>
    {{/runners}}
      </div>
</body>

</html>
