<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="styles.css">
  <meta charset="utf-8">
  <title>Runner Profile</title>
</head>
<body>
  <header>
    <h1>Runners Profile</h1>
    <a href="/">Home</a>
    {{#runners}}
    <div class="runner-card">
    <h1>{{name}}</h1>
    <p>Division: {{division}}</p>
    <p>Sponsor: {{sponsor}}</p>
  </div>
    {{/runners}}

  </body>
</html>
