<!DOCTYPE html>
<html lang="en">
  {{> head}}
  <body>
    <header>
      <h1>SEN. {{runner.division}} {{runner.sponser}} {{runner.name}}</h1>
    </header>
    <div class="navigation">
      <a href="/">Runner Profile</a>
      <a href="/add_runner">Add Runner</a>
    </div>
</html>
